body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main Card */
.card {
  width: 400px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  text-align: center;
}

/* Title */
.card h1 {
  margin-bottom: 20px;
  color: #333;
}

/* Input section */
.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
}

input:focus {
  border-color: #6c63ff;
}

/* Add button */
button {
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #6c63ff;
  color: white;
  transition: 0.3s;
}

button:hover {
  background: #574bdb;
}

/* Task list */
.task-list {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  background: #f4f4f4;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
}

/* Delete button */
.task-list li button {
  background: #ff4d4d;
}

.task-list li button:hover {
  background: #d93636;
}